<!DOCTYPE html>

{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="{% static 'edit.css' %}">

  <script type="text/javascript" src="{% static 'looptab.js' %}">
</script>    

</head>
<body>
    <div class="intersection">
        <h1>กำหนด Loop</h1>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="hidden" value={{ video }}>
        <p> {{name}}</p> -->

            <div class="flex-container">
                <div class="box">
                    <video controls autoplay muted loop>
                        <source src="../../BaseApp/intersectionData/{{ video }}">
                    </video>
                </div>
                <div class="box">

                    {% comment %} This is loop box {% endcomment %}

                    <form id="regForm" action="">
                        <!-- One "looptab" for each step in the form: -->
                        <div class="looptab">Loop1:
                            <p><input placeholder="X" oninput="this.className = ''" name="x1"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y1"></p>
                            <p><input placeholder="X" oninput="this.className = ''" name="x2"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y2"></p>
                        </div>
                        
                        <div class="looptab">Loop2:
                            <p><input placeholder="X" oninput="this.className = ''" name="x1"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y1"></p>
                            <p><input placeholder="X" oninput="this.className = ''" name="x2"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y2"></p>
                        </div>
                        
                        <div class="looptab">Loop3:
                            <p><input placeholder="X" oninput="this.className = ''" name="x1"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y1"></p>
                            <p><input placeholder="X" oninput="this.className = ''" name="x2"></p>
                            <p><input placeholder="Y" oninput="this.className = ''" name="y2"></p>
                        </div>
                        
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                          
                        </div>
                    </form>
                </div>
            </div>

            <input type="radio" id="rad" name="radio" value="Fast Upload">Fast Upload<br>

            <input type="radio" id="rad" name="radio" value="Fast Upload">Slow Upload
            <br><br>
        
            <div class = "Permission">
                <label for="Permission">Permission:</label>
                <select id="Permission" class="dropdown-select">
                    <option value="volvo">Public</option>
                    <option value="saab">Private</option>
                    <option value="fiat">Organisation</option>
                    <option value="audi">Unlist</option>
                </select>
            </div>

        <div class = "button">
            <button type = "submit">Upload</button>
        </div>    
             
        </div>
    </form>
</body>
</html>
<!-- scheduler() -->
