 <!DOCTYPE html>

{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="{% static 'edit.css' %}">

</head>
<body>
    <div class="intersection">
        <h1>กำหนด Loop</h1>
    </div>
    
    <form action="../create_loops" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <input type="hidden" value={{ video }}>
        <p> {{name}}</p> -->

            <div class="flex-container">
                <div class="box">
                    <video id="video" src="../../../BaseApp/intersectionData/{{ name }}/videos/{{ video_id }}/{{ video_name }}.mp4" autoplay controls loop></video>
                    <canvas id="canvas"></canvas>
                </div>
                    <div class="box">
                        
                        {% comment %} This is loop box {% endcomment %}
                        <div id="choice">
                            <input type="button" name="select" value="Select existing loop" onclick="select_loop()">
                            <input type="button" id="create" value="Create New loop" onclick="create_loop()">
                        </div>
                        
                        <div id="hitboxs">
                            {% for hitbox in hitboxs %}
                            <input type="hidden" id="hitbox{{ forloop.counter0 }}" value="{{ hitbox }}">
                            {% endfor %}
                        </div>
                        
                        <div id="regForm" action="">
                            
                            
                            <!-- One "looptab" for each step in the form: -->
                            <div class="looptab" id="LoopField" name="Loop">
                                <!-- <div class="loop_field" name="Loop[n]">
                                <input type="text" name="coor" placeholder="coor">
                            </div> -->
                            </div>
                        
                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <!-- <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> -->
                                    <button type="button" id="remove" onclick="remove_loop()">remove loop</button>
                                    <button type="button" id="add" onclick="add_loop()">add loop</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <input type="radio" id="rad" name="radio" value="Fast Upload">Fast Upload<br>
            
            <input type="radio" id="rad" name="radio" value="Fast Upload">Slow Upload
            <br><br>
            
            <div class = "Permission">
                <label for="Permission">Permission:</label>
                <select id="Permission" class="dropdown-select">
                    <option value="volvo">Public</option>
                    <option value="saab">Private</option>
                    <option value="fiat">Organisation</option>
                    <option value="audi">Unlist</option>
                </select>
            </div>

            <input type="hidden" name="loops" id="loops" value="">
            <input type="hidden" name="video_id" id="video_id" value="{{ video_id }}">
            
            <div class = "button">
                <button onclick="collect_loops()">Upload</button>
        </div>
        
    </div>
</form>
<script type="text/javascript" src="{% static 'tab.js' %}"></script>
</body>
</html>

