<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="../Css_Stylesheet/insert_section.css">

</head>
<body>
    <div class="topbar">
        <div class="backpage">
            <button>backpage</button>
        </div>
        <div class="profile">
            <p>Username</p>
            <img src="" alt="">
        </div>
    </div>
    <div class="logo">
        <h1>Pumpuy Skyline</h1>
    </div>
    <div class="name">
        <p>ชื่อเเยก (required): </p>
        <input type="text" placeholder="ชื่อเเยก" />
    </div>
    <div class="live">
        <p>ที่อยู่ (required): </p>
        <textarea class="bigbox" name="message" rows="5" cols="20" placeholder="required" ></textarea>
    </div>
    <div class="latitute">
        <p>Latitute (required): 
        <input type="text" placeholder="Latitute" />
    </div>
    <div class="longtitute">
        <p>Longtitute (required): </p> 
        <input type="text" placeholder="Longtitute" />
    </div>
    <div class="insertimg">
        <button>ลงรูป</button>
    </div>
    <div class="letter">
        <p class="ss">คำเตือน: </p>
        <p class="tt">กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนเพิ่มข้อมูลตัวใหม่</p>
    </div>
    <div class="button">
        <nav class="left">
            <button>เพิ่มเเยก</button>
        </nav>
        <nav class="right">
            <button>ยกเลิก</button>
        </nav>
    </div>
</body>
</html>