<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'insert_intersection.css' %}">
</head>

<body>
    <form action="add_intersection" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="name">
        <p>ชื่อเเยก :</p>
        <input type="text" name="name" placeholder="ชื่อเเยก" required />
    </div>

    <div class="live">
        <p>ที่อยู่ : </p>
        <textarea class="bigbox" name="address" rows="5" cols="20" placeholder="ที่อยู่" required ></textarea>
    </div>

    <div class="latitute">
        <p>Latitute : 
        <input type="text" name="latitude" placeholder="Latitute" required />
    </div>

    <div class="longtitute">
        <p>Longtitute : </p> 
        <input type="text" name="longtitude" placeholder="Longtitute" required />
    </div>

    <div class="insertimg">
        <input type="file" class="upload" name="picture">
    </div>

    <div class="letter">
        <p class="ss">คำเตือน: </p>
        <p class="tt">กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนเพิ่มข้อมูลตัวใหม่</p>
    </div>

    <div class="button">
        <nav class="left">
            <button type="submit">เพิ่มเเยก</button>
        </nav>
        <nav class="right">
            <button type="submit">ยกเลิก</button>
        </nav>
    </div>
    </form>
</body>
</html>