<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="{% static 'insert_intersection.css' %}">
</head>
<body>
    <div class="topbar">
        <div class="backpage"></div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <a href="logout">logout</a>
            {% else %}
                <a href="login">login</a>
            {% endif %}
        </div>
    </div>
    <div class="logo">
        <h1>Pumpuy Skyline</h1>
    </div>
    <div class="name">
        <p>ชื่อเเยก (required): </p>
        <input type="text" name="name" placeholder="ชื่อเเยก" required />
    </div>
    <div class="live">
        <p>ที่อยู่ (required): </p>
        <textarea class="bigbox" name="address" rows="5" cols="20" placeholder="required" required ></textarea>
    </div>
    <div class="latitute">
        <p>Latitute (required): 
        <input type="text" name="latitude" placeholder="Latitute" required />
    </div>
    <div class="longtitute">
        <p>Longtitute (required): </p> 
        <input type="text" name="longtitude" placeholder="Longtitute" required />
    </div>
    <div class="insertimg">
        <button><a href="image">ลงรูป</a></button>
    </div>
    <div class="letter">
        <p class="ss">คำเตือน: </p>
        <p class="tt">กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนเพิ่มข้อมูลตัวใหม่</p>
    </div>
    <div class="button">
        <nav class="left">
            <button><a href="/add_intersection">เพิ่มเเยก</a></button>
        </nav>
        <nav class="right">
            <button><a href="..">ยกเลิก</a></button>
        </nav>
    </div>
</body>
</html>