<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="{% static 'intersection.css' %}">
</head>
<body>
    <div class="header">
        <nav>
            <button><a href="..">< กลับ</a></button>
        </nav>

        {% if request.user.is_authenticated %}
            <a href="logout">logout</a>
        {% else %}
            <a href="login">login</a>
        {% endif %}
    </div>
      
    <h1> Pumpuy Skyline </h1>

    <div class="intersection">
        <nav class="left">
            <h2>{{ intersection.name }}</h2>
            <button><a href="follow">ติดตาม</a></button>
        </nav>
        <nav class="right">
            <button><a href="edit">แก้ไข</a></button>
        </nav>
    </div>
    
    <img width="60%"  src="..\Css_Stylesheet\let-me.jpg">
    <!-- <img src="https://i.ytimg.com/vi/5yCf_S737f8/maxres2.jpg?sqp=-oaymwEoCIAKENAF8quKqQMcGADwAQH4AbYIgAKAD4oCDAgAEAEYPiBlKDcwDw==&rs=AOn4CLCZIy-q0dNRJhPse1JdWysg--4Sug"> -->
    
    <h2>Description</h2>

    <div class="detail">
        <p> สถานที่ตั้ง: {{ intersection.location }}</p>
    </div>

    <div class = "searchbar">
        <input type="text" placeholder="Search Bar right here">
        <nav class="button"><button><a href="upload">ลงคลิป</a></button></nav>
    </div>
    
    <div class = "Intersection_Table">
    
        <table class="c-table">
            <tr class="c-table__row">
                <th class="c-table__head">Video</th>
                <th class="c-table__head">Status</th>
                <th class="c-table__head">Uploader</th>
                <th class="c-table__head">Date</th>
            </tr>
    
            {% for video in intersections %}
                <tr class="c-table__row">
                    <td id = "name" class="c-table__data">
                        <a href="">{{ video.video }}</a>
                    </td>
                    <td class="c-table__data">{{ video.status }}</td>
                    <td class="c-table__data">{{ video.uploader }}</td>
                    <td class="c-table__data">{{ video.date }}</td>
                    <td id="delete"><a href="delete">ลบ</a></td>
                </tr>
            {% endfor %}
    
            <tr class="c-table__row">
                <td id = "name" class="c-table__data"><a href="">G</a></td>
                <td class="c-table__data">B</td>
                <td class="c-table__data">C</td>
                <td class="c-table__data">D</td>
                <td id="delete"><a href="delete">ลบ</a></td>
            </tr>
            <tr class="c-table__row">
                <td id = "name" class="c-table__data"><a href="">G</a></td>
                <td class="c-table__data">B</td>
                <td class="c-table__data">C</td>
                <td class="c-table__data">D</td>
                <td id="delete"><a href="delete">ลบ</a></td>
            </tr>
            
            </table>
    </div>
</body>
</html>
