<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="{% static 'intersection.css' %}">

</head>
<body>
    <div class="intersection">
        <h1>A intersection</h1>
        <video width="60%" src="..\Css_Stylesheet\get-money.mp4"></video>
        <button>Edit</button>
    </div>

    <div class="description">
        <h1>Description</h1>
        <div class="box">
            <p>Address: ABC Street</p>
            <p>Length: 3:56 min</p>
            <p>Last Upload: 2/11/2023</p>
            <p>Last Modified: 3/11/2023</p>
        </div>
    </div>
    <div class="button">
        <nav class="left">
            <button>Upload</button>
            <button>Download</button>
            <p>100 mb</p>
        </nav>
        <nav class="right">
            <button>Save</button>
            <button>Cancle</button>
        </nav>
    </div>
</body>
</html>
