<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="Stylesheet" href = "{% static 'main_page.css' %}">

    <!-- <div class="topnav">
            <a class="active" href="#home">Home</a>
            </li><a href="#about">About</a>
            <a href="#contact">Contact</a>
    </div> -->

</head>

<body>
    <h1> Pumpuy Skyline </h1>

    <div class = "searchbar">
        <input type="text" placeholder="Search Bar right here">
    </div>

    <div class = "Intersection_Table">
    
    <table class="c-table">
        <tr class="c-table__row">
            <th class="c-table__head">Name</th>
            <th class="c-table__head">Address</th>
            <th class="c-table__head">Status</th>
            <th class="c-table__head">Owner</th>
            <th class="c-table__head">Date Upload</th>
            <th class="c-table__head">Last Modified</th>
        </tr>

        <tr class="c-table__row">
            <td id = "name" class="c-table__data"><a href="#">A</a></th>
            <td class="c-table__data">B</td>
            <td class="c-table__data">C</td>
            <td class="c-table__data">D</td>
            <td class="c-table__data">E</td>
            <td class="c-table__data">F</td>
        </tr>

        <tr class="c-table__row">
            <td id = "name" class="c-table__data"><a href="#">A</a></th>
            <td class="c-table__data">B</td>
            <td class="c-table__data">C</td>
            <td class="c-table__data">D</td>
            <td class="c-table__data">E</td>
            <td class="c-table__data">F</td>
        </tr>

            </table>
        </div>
</body>
</html>