<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

{% load static %}
<html>
<head>
    <link rel="Stylesheet" href = "{% static 'main_page.css' %}" type = "text/css">
    <script type="text/javascript" src="{% static 'sort.js' %}">
    </script>

    <!-- <div class="topnav">
            <a class="active" href="#home">Home</a>
            </li><a href="#about">About</a>
            <a href="#contact">Contact</a>
    </div> -->
</head>


    <h1> DASHBOARD </h1>

    <div class = "searchbar">        
        <form action="{% url 'BaseApp:searchIntersection' %}" method="post">    
            {% csrf_token %}        
            <select name="options" id="options">
                <option value="name">Name
                </option>
                <option value="address">Address</option>
                <option value="status">Status</option>
                <option value="owner">Owner</option>
            </select>
            <input name="query" type="text" placeholder="Search Bar right here">
        </form>
    </div>

    {% if auth_level < 3 %}
        <p style="text-align:center; font-size: 32px; margin-bottom: 20px;"><a href="add_intersection">เพิ่มเเยก</a></p>
    {% endif %}
    <div class = "Intersection_Table">
    
    <table class="c-table" id = "table">
        <tr class="c-table__row">
            <th class="c-table__head" onclick="sortTable(0), myFunction('name')">Name<i id="name" class="arrow up"></i></th>
            <th class="c-table__head">Address</th>
            <th class="c-table__head">Status</th>            
            <th class="c-table__head" onclick="sortTable(0), myFunction('owner')">Owner<i id="owner" class="arrow up"></i></th> 
            <!-- when click multiple time its make you highlight the text if you can fix that its will be great //Allumilie ++++ I already fix it na @KayKon-->
            <th class="c-table__head">Date Upload</th>
            <th class="c-table__head">Last Modified</th>
        </tr>

        {% for intersec in intersections %}
        <tr class="c-table__row">
            <td id = "name" class="c-table__data"><a href="intersection/{{intersec.name}}">{{ intersec.name }}</a></th>
            <td class="c-table__data">{{ intersec.location }}</td>
            <td class="c-table__data">{{ intersec.status }}</td>
            <td class="c-table__data"><a href="profile/{{ intersec.owner.name }}">{{intersec.owner.name}}</a></td>
            <td class="c-table__data">{{ intersec.last_update }}</td>
            <td class="c-table__data">{{ intersec.last_update}}</td>
        </tr> 
        {% empty %}
        <!-- Next time pls comment stuff like these so i can understand just "no" is confuse the fuck out of me //Allumilie -->
        <!-- <center>No item in intersections</center>  -->
        {% endfor %}

        <!-- <tr class="c-table__row">
            <td id = "name" class="c-table__data"><a href="intersection/1">G</a></th>
            <td class="c-table__data">B</td>
            <td class="c-table__data">C</td>
            <td class="c-table__data">D</td>
            <td class="c-table__data">E</td>
            <td class="c-table__data">F</td>
        </tr>
        <tr class="c-table__row">
            <td id = "name" class="c-table__data"><a href="intersection/2">A<A></A></a></th>
            <td class="c-table__data">C</td>
            <td class="c-table__data">C</td>
            <td class="c-table__data">Z</td>
            <td class="c-table__data">E</td>
            <td class="c-table__data">F</td>
        </tr> -->

        </table>
    </div>

{% endblock %}
</html>
