@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    margin-left: 15px;
}

body {
    background: #f6f5f7;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 20px;
}

.intersection h1 {
    color: #000000;
    font-weight: bold;
    margin: 20px;
    }


p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.add .upload {
	font-size: 16px;
	background: #eee;
	border-radius: 20px;
	width: 305px;
	outline: none;
	margin-bottom: 10px;
}

.add .upload:focus {
	outline: none;
}

::-webkit-file-upload-button {
	color: white;
	border: 1px solid #ffac12;
	background-color: #edc111;
	padding: 20px;
	border: none;
	outline: none;
}
::-webkit-file-upload-button:active {
	transform: scale(0.95);
}


button {
    border-radius: 20px;
    border: 1px solid #801ad9;
    background-color: #9627db;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 15px;
    transition: transform 80ms ease-in;
}

.box {
/* border: 1px solid #000000; */
    padding: 5px 20px 5px;
    width: 60%;
    background: #f0f1f7;
    border-radius: 15px;
    float: left;
}

.box p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

/* CheckBox */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    top: -30px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    }

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:#7461f0;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  
  .flex-container .box {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  input[type='radio']{
    width: 25px;
    height: 25px;
}

input#1 {
    border-color: #c3c3c3;
    border-radius: 5px;
}

input#x1 {
    border-color: #c3c3c3;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    width: 150px;
    color: #565656;
}

input#y1 {
    border-color: #c3c3c3;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    width: 150px;
    color: #565656;
}

video {
    width: 70%;
    margin-top: 3%;
  }
  
img {
    width: 100%;
    height: auto;
}

.dropdown-select {
    width: 20%;
    height: 40px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 100;
    color: #525252;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  /*This is style of tab new assign Allumilie done by KayKon
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current "tab button" class */
  /* .tab button.active {
    background-color: #ccc;
  } */
  
  /* Style the tab content */
  /* .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  } */

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;  
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
    }

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}