@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	align-items: center;
    flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

form {
	border: 100px;
}

.name {
    display: flex;
	margin-bottom: 10px;
	font-size: large;
    font-weight: 100;
}

.name input {
    background-color: #d6d6d6;
	border: none;
	padding: 12px 15px;
	margin: 8px 12px;
	width: 30%;
    font-weight: 100;
	border-radius: 5px;
}

.live p{
	font-size: large;
    font-weight: 100;
}

.live textarea {
    background-color: #d6d6d6;
	border: none;
    padding: 12px 15px;
	margin: 8px 12px;
	width: 50%;
    font-weight: 100;
	border-radius: 5px;
}

.latitute input {
    background-color: #d6d6d6;
	border: none;
    padding: 12px 15px;
	margin: 8px 12px;
	width: 50%;
    font-weight: 100;
	border-radius: 5px;
}

.latitute {
    display: flex;
	margin-bottom: 10px;
	font-size: large;
    font-weight: 100;
}

.longtitute input {
    background-color: #d6d6d6;
	border: none;
    padding: 12px 15px;
	margin: 8px 12px;
	width: 20%;
    font-weight: 100;
	border-radius: 5px;
}

.longtitute {
    display: flex;
	margin-bottom: 19px;
	font-size: large;
    font-weight: 100;
}

.letter {
    display: flex;
	margin-bottom: 10px;
	font-size: large;
    font-weight: 100;
}

.letter .ss {
    color: red;
    font-size: large;
    font-weight: 100;
}

.letter .tt {
    margin-top: 20px;
    margin-left: 20px;
	font-size: large;
    font-weight: 100;
}

.insertimg .upload {
	font-size: 16px;
	background: #eee;
	border-radius: 20px;
	width: 305px;
	outline: none;
	margin-bottom: 10px;
}

.insertimg .upload:focus {
	outline: none;
}

/* ::-webkit-file-upload-button { */
input::file-selector-button {
	color: white;
	border: 1px solid #ffac12;
	background-color: #edc111;
	padding: 20px;
	border: none;
	outline: none;
}
/* ::-webkit-file-upload-button:active { */
input::file-upload-button:active {
	transform: scale(0.95);
}

.button {
    display: flex;
    justify-content: space-between;
}

.button .left button{
    border-radius: 20px;
	border: 1px solid #801ad9;
	background-color: #9627db;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: 15px;
	transition: transform 80ms ease-in;
	font-size: large;
    font-weight: 100;
}

.button .left button:active {
	transform: scale(0.95);
}

.button .left button:focus {
	outline: none;
}

.button .right button{
    border-radius: 20px;
	border: 1px solid #d91a37;
	background-color: #db272a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-left: 15px;
	transition: transform 80ms ease-in;
	font-size: large;
    font-weight: 100;
}

.button .right button:active {
	transform: scale(0.95);
}

.button .right button:focus {
	outline: none;
}