@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	
}

body {
	
	background: #f6f5f7;
	align-items: center;
    flex-direction: column;
	font-family: 'Montserrat', sans-serif;
    margin: 20px 35px 20px 35px;
}

h1{
	font-weight: 1000;
	font-size: 50px ;
	text-decoration: solid  ;
	color:#7B68EE ;
	/* color: #7C69F6;
    font-weight: bold;
	margin: 20px; */
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}

h2 {
	margin-top: 5px;
	margin-left: 25px;
    color:#5357a6 ;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

a:link{
	font-size: 20px;
	color: #7B68EE;
}


button {
	border-radius: 20px;
	border: 1px solid #801ad9;
	background-color: #9627db;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    color: #f6f5f7;
    font-size: large;
    font-weight: 100;
}

button:active {
	transform: scale(0.95);
}

button a:link{
	color: #f6f5f7;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

img {
	width:50%;
	/* display: block;
	margin-right: auto ;
	margin-left: auto; */
}

.header {
	margin-left: 25px;
	display:flex;
	justify-content: space-between;
}



.follow {
	padding-bottom: 20px;
	display:inline-block;
}

.intersection h2 {
	color:#5357a6 ;
    font-weight: bold;
	margin: 10px 15px 20px 20px;
	font-size: 31px ;
	display:inline-block;
}

.intersection {
    display: flex;
    justify-content: space-between;
}

.intersection .left button {
	border-radius: 20px;
	border: 1px solid #e92d2d;
	background-color: #e92d2d;
	padding: 10px 30px;
    color: #ffffff;
    font-size: large;
    font-weight: 100;
}

.intersection .left button a:link {
	color: #f6f5f7;
}

.intersection .right {
	margin: auto 50px 20px 15px ;
    padding: 10px 30px;
}

.right .edit {
    border-radius: 20px;
    border: 1px solid #fad819;
	background-color: #edc111;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    color: #f6f5f7;
    font-size: large;
    font-weight: 100;
}

.detail {
	margin-left: 25px;
	padding: 8px 20px 5px;
	width: 70%;
	background: #f0f1f7;
	border-radius: 5px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.detail {
    margin-bottom: 40px;
}

.detail p {
	margin-top: 5px;
	margin-bottom: 10px;
}

.dropdown-select {
    width: 20%;
    height: 40px;
    border-radius: 6px;
    font-size: large;
    font-weight: 100;
    color: #525252;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
}

.searchbar {
	display: grid;
	grid-template-areas: 
	"bar bar blank button"
}

.searchbar input[type=text] {
	grid-area: bar;
	text-align: center;
	padding: 10px;
	margin: 48px auto 20px;
	border: none;
	font-size: 17px;
	border: 1px solid #ccc;  
	width: 100%;
    border-radius: 4px;	
}

.searchbar .button {
	margin: 41px 50px 0px auto;
	grid-area: button;
}

.c-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
	margin-top: 50px;
}

.c-table__head {
	padding: 16px;  
	background-color: #6495ED;
	position: sticky;
	top: 0;
	left: 0;
}
  
.c-table__data {
	text-align: center;
	border: solid 1px #4B7CB6;
	white-space: nowrap;
	padding: 10px;
}

.c-table__row #status1 p {
    background-color: #a2ff3f;
    border-radius: 5px;
}

.c-table__row #status2 p {
    background-color: #ffdd53;
    border-radius: 5px;
}


.c-table__row #status3 p {
    background-color: #ff7f6c;
    border-radius: 5px;
}


.c-table__row {
	text-align: center;
}

.c-table__row #delete a:link {
	color: #f13d3d;
}
